// GENERATED by tools/codegen/gen-swift.sh from packages/contracts/gen/openapi.bundle.json. DO NOT EDIT: run `just generate`.
// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) public import OpenAPIRuntime
#if os(Linux)
@preconcurrency public import struct Foundation.URL
@preconcurrency public import struct Foundation.Data
@preconcurrency public import struct Foundation.Date
#else
public import struct Foundation.URL
public import struct Foundation.Data
public import struct Foundation.Date
#endif
import HTTPTypes
/// Public API of the AI Stylist backend. URI-versioned (`/v1`); changes within `v1` are additive.
/// Errors are RFC 9457 `application/problem+json` with a stable machine `code` from
/// `@ai-stylist/shared-kernel`.
///
public struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    public init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// Liveness and dependency health
    ///
    /// Returns `ok` when the API and every checked dependency are reachable.
    ///
    /// - Remark: HTTP `GET /v1/health`.
    /// - Remark: Generated from `#/paths//v1/health/get(getHealth)`.
    public func getHealth(_ input: Operations.GetHealth.Input) async throws -> Operations.GetHealth.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetHealth.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/health",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetHealth.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HealthReport.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 503:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetHealth.Output.ServiceUnavailable.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/problem+json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/problem+json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ProblemDetails.self,
                            from: responseBody,
                            transforming: { value in
                                .applicationProblemJson(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .serviceUnavailable(.init(body: body))
                default:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Components.Responses.Problem.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/problem+json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/problem+json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ProblemDetails.self,
                            from: responseBody,
                            transforming: { value in
                                .applicationProblemJson(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .`default`(
                        statusCode: response.status.code,
                        .init(body: body)
                    )
                }
            }
        )
    }
    /// Build identity of the running API
    ///
    /// Semantic version, commit SHA and build timestamp of the deployed API.
    ///
    /// - Remark: HTTP `GET /v1/version`.
    /// - Remark: Generated from `#/paths//v1/version/get(getVersion)`.
    public func getVersion(_ input: Operations.GetVersion.Input) async throws -> Operations.GetVersion.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetVersion.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/version",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetVersion.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.VersionInfo.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Components.Responses.Problem.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/problem+json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/problem+json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ProblemDetails.self,
                            from: responseBody,
                            transforming: { value in
                                .applicationProblemJson(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .`default`(
                        statusCode: response.status.code,
                        .init(body: body)
                    )
                }
            }
        )
    }
}
